@tailwind base;
@tailwind components;
@tailwind utilities;

$big-screen: 768px;

.title-100 {
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.title-200 {
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.title-300 {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.title-400 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-500 {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title-600 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.title-700 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.title-800 {
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.text-100 {
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.text-200 {
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.text-300 {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-400 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-500 {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-600 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text-700 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-800 {
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@layer base {
  @font-face {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
  }

  body {
    @apply text-clarifion-gray;
  }
  h1 {
    @apply text-2xl title-400 mb-1 text-clarifion-black text-[32px] md:text-[48px] m-[12px];
  }
  h2 {
    @apply text-xl title-400 mb-1 text-clarifion-black text-[24px]/[33.6px] md:text-[32px]/[44.8px] m-[12px] text-center md:text-left;
    span { @apply text-clarifion-light-blue text-[24px]/[33.6px] md:text-[32px]/[44.8px] text-center md:text-left}
  }
  h3 {
    @apply text-lg title-400 mb-1 text-clarifion-gray text-[16px]/[24px] md:text-[24px] m-[12px];
  }
  h4 {
    @apply text-lg title-300 mb-1 text-clarifion-black;
  }
  h5 {
    @apply text-base title-300 mb-1 leading-4;
  }
  h6,
  p,
  span {
    @apply text-400 text-sm mb-1;
  }

  clarifion-main-layout {
    @apply min-h-screen;
  }

  clarifion-nav-bar {
    @apply sticky top-0 h-[42px] md:h-[50px] w-full md:px-[10vw] text-xs flex flex-row justify-between items-center;
  }

  clarifion-header {
    @apply h-[70px] md:h-[96px] w-full md:w-[80vw] m-auto flex flex-row text-xs justify-center content-around items-center;

    .header-icons-container {
      width: 80vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center;
    }
  }

  order-status {
    @apply h-[215px] md:h-[176px] w-full md:w-[80vw] m-auto flex flex-col text-xs md:justify-center text-center items-center;

    .order-step-container {
      width: 261px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 20px;
      margin-top: 24px;

      img {
        margin-right: 20px;
      }

      @media (max-width: $big-screen) {
        flex-direction: column;
        font-size: 12px;

        img {
          margin-right: 0;
          margin-bottom: 5px;
        }
      }

    }

  }

  order-step {
    @apply h-[70px] md:h-[96px] w-[90vw] md:w-[80vw] md:m-auto flex flex-row justify-between items-center;

    img { @apply w-[20px] md:w-[40px] h-auto }

    p { @apply text-[12px] md:text-[20px] }
  }

  item-detail {
    @apply md:w-[80vw] flex flex-col md:flex-row m-auto md:bg-clarifion-light-gray
      rounded-[10px] md:p-[40px] items-start content-start gap-[40px] ;
  }

  item-title {
    @apply self-center md:self-start;
    h2 { @apply m-0 w-[90vw] m-auto md:w-full self-center md:self-start }
  }

  item-main-picture {
    @apply w-[320px] md:w-[575px] h-auto m-auto md:content-start;
  }

  item-description {
    @apply w-[320px] md:w-[575px] md:content-start
  }

  clarifion-perks-list {
    @apply w-[90vw] md:w-full flex-col justify-self-center ml-[12px] md:ml-0 ;

    p { @apply w-full ml-[12px] text-xs md:text-base ;
      span { @apply font-bold text-xs md:text-base  }
    }

    img { @apply w-[16px] h-[16px]  }

    .items-perk-list-container {
      @apply w-full flex flex-row justify-items-center justify-center items-center ml-[12px] md:ml-0
    }
  }

  clarifion-footer {
    @apply bottom-0 h-[102px] md:h-[88px] text-xs md:text-base flex flex-col md:flex-row;
  }

  clarifion-nav-bar,
  clarifion-footer {
    @apply bg-clarifion-dark-blue text-clarifion-white text-xs left-0 right-0 items-center justify-evenly text-center;
  }

  .logo-and-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      padding-right: 8px;
      height: fit-content;
    }
  }
}
