@if (isSmallScreen) {
  <div class="item-description-container">
    <clarifion-thumbnail></clarifion-thumbnail>
    <clarifion-main-info></clarifion-main-info>
  </div>
  <div class="">
    <clarifion-detail></clarifion-detail>
    <clarifion-perks-list></clarifion-perks-list>
  </div>
}
@else {
  <div class="item-description-container">
    <clarifion-thumbnail></clarifion-thumbnail>
    <div class="flex flex-col">
      <clarifion-main-info></clarifion-main-info>
      <clarifion-detail></clarifion-detail>
    </div>
  </div>
  <div class="">
    <clarifion-perks-list></clarifion-perks-list>
  </div>
}
