<div class="title flex flex-row w-full justify-between">
  <h6 class="text-[14px]/[19.6px] md:text-[20px]/[28px] text-clarifion-black">
    Clarifion Air Ionizer
  </h6>
  <div class="prize flex flex-row">
    <p class="text-clarifion-gray-text line-through
    md:text-[16px]/[21.8px] text-[10px]/[13.6px]">
      $180
    </p>
    <span class="text-[14px]/[19.6px] text-clarifion-light-blue font-semibold
    md:text-[22px]/[30px]">
      $84
    </span>
  </div>
</div>
<img src="assets/icons/stars.png" alt="five stars"
class="">
<div class="flex flex-row items-center">
  <img src="assets/icons/stock-available.png"
  alt="Stock available"
  class="w-[12px] md:w-[16px] h-[12px] md:h-[16px]">
  <p class="ml-[16px]">12 left in Stock</p>
</div>
