@if (isSmallScreen) {
  <button (click)="prevButton()">
    <img src="assets/icons/arrow-left.png" alt="arrow left">
  </button>

  <div class="logo-and-text-container ">
    <img :src="{{navButtons[currentIndex].iconUrl}}" alt="{{ navButtons[currentIndex].title }}">
    <p>  {{ navButtons[currentIndex].title }} </p>
  </div>


  <button (click)="nextButton()">
    <img src="assets/icons/arrow-right.png" alt="arrow right">
  </button>

}

@else {
  @for (navButton of navButtons; track $index) {

    <div class="logo-and-text-container w-[261px]">
      <img :src="{{navButton.iconUrl}}" alt="{{ navButton.title }}">
      <p>  {{ navButton.title }} </p>
    </div>

  }
}

